@mixin display ($d,$j, $a) {
    display: $d;
    justify-content: $j;
    align-items: $a;
}
@mixin whbg ($w, $h, $bg) {
    width: $w;
    height: $h;
    background-color: $bg;
}

.shoe_info_wrapper{
    @include whbg(80%,auto ,transparent );
    padding-top: 20px;
        .shoe_flex_wrapper{
            @include display(flex, space-between,none );
                .shoe_info{
                    @include whbg(30%,auto ,#3d8af5 );
                    border-radius: 10px;
                        .back{
                            margin-left: 20px;
                            margin-top: 10px;
                            font-weight: bold;
                            width: 60px;
                            color: $white;
                            @include display(flex, space-between,center );
                        }
                        .shoe_img{
                            @include whbg(100%,300px ,transparent );
                            border: 1px solid green;
                            position: relative;
                                img{
                                    @include whbg(100%,50% ,transparent );
                                    position: absolute;
                                    top: 20%;
                                    left: 12%;
                                    transform: rotate(-30deg);
                                }
                        }
                        .shoe_details{
                            width: 80%;
                            margin: 10px auto;
                            color: $white;
                                h3{
                                    margin-top: 20px;
                                }
                                .show_number{
                                    width: 100px;
                                    margin-top: 20px;
                                    @include display(flex, space-between,none );
                                        div{
                                            @include display(flex, center,center );
                                            @include whbg(25px,25px,#447ecf );
                                            border-radius: 5px;
                                            cursor: pointer;
                                            box-shadow: 1px 1px 5px #47484a;
                                        }
                                        div:nth-child(2){
                                            background: transparent;
                                            box-shadow: none;
                                            cursor: initial;
                                        }
                                }
                                .add_to_cart{
                                    margin-top: 20px;
                                    margin-bottom: 100px;
                                    @include display(flex, space-between,center );
                                        div{
                                            height: 40px;
                                            cursor: pointer;
                                            box-shadow: 1px 1px 5px #47484a;
                                            background-color: #447ecf;
                                        }
                                        div:first-child{
                                            @include display(flex, center,center );
                                            width: 40px;
                                            border-radius: 100%;
                                        }
                                        div:last-child{
                                            width: 140px;
                                            padding: 0 15px;
                                            border-radius: 10px;
                                            font-weight: bold;
                                            @include display(flex, space-between,center );
                                        }
                                }
                        }
                }
                .show_extras{
                    width: 50%;
                    border: 1px solid green;
                    .show-x-top{
                        .x-photos{
                           h2{
                            margin-bottom: 5px;
                            font-size: 1.2rem;
                            }
                            margin-bottom: 20px;
                            .x-photo-flex{
                                border: 1px solid $blue;
                                display: flex;
                                height: 150px;
                                & div img{
                                    margin-right: 30px;
                                    border-radius: 20px;
                                    @include whbg(150px, 120px, none);
                                }
                            }
                        }
                        .x-colors{
                            margin-bottom: 30px;
                            h2{
                                margin-bottom: 5px;
                                font-size: 1.2rem;
                            }
                            .x-colors-flex{
                                display: flex;
                                div{
                                    margin-right: 15px;
                                    @include display(flex, center, center);
                                    @include whbg(30px, 30px, none);
                                    border: .5px solid red;
                                    border-radius: 50%;
                                    p{
                                        @include whbg(70%, 70%, none);
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                        .x-sizes{
                            margin-bottom: 30px;
                            h2{font-size: 1.2rem; margin-bottom: 5px;}
                            .x-sizes-flex{
                                display: flex;
                                div{
                                    @include whbg(40px, 30px, white);
                                    @include display(flex, center, center);
                                    border-radius: 5px;
                                    font-weight: bold;
                                    cursor: pointer;
                                    margin-right: 10px;
                                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                                    &:hover{
                                        color: white;
                                        background-color: $blue;
                                    }
                                }
                            }
                        }
                    }
                    .simi-sh{
                        @include display(flex, space-around, center);
                        & div{
                            max-width: 150px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .hm-prev-nxt{
                        display: flex;
                        width: 20%;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        justify-content: space-between;
                         & div{
                             cursor: pointer;
                             display: flex;
                             justify-content: space-between;
                             width: 40px;
                         }
                    }
                    .hm-footer-social{
                        width: 40%;
                        display: flex;
                        justify-content: space-around;
                        margin-right: 30px;
                        margin-top: 50px;
                        i{
                            font-size: 25px;
                        }
                    }
                }
        }
}