
.form-input{
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 1px 3px 5px gray;
  outline: none;
  border: none;
  border-radius: 5px;
  // background-color: #faf4dc;
  background: transparent;
}

.btn{
  text-align: center;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
}