// colors
$black: #000000;
$white: #FFFFFF;
$blue: #0b228a;
$light-blue:#4f7ee3;
$red:#d91c35;

// fonts
$font: 'Roboto', sans-serif;;
$secondary-font: 'Quicksand', sans-serif;
$secondary-font2: 'Space Mono', monospace;
$secondary-font3: 'Sacramento', cursive;
