@import "variables";
@import "_regLog";
@import "utils";
@import "footer";
@import "header";
@import "drawer";
@import "shoe";
@import "homeProd";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }